<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Girl Supply</title>
    <link rel="Stylesheet" href="style.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="Stylesheet">

</head>
<body>

    <header class="l-header" id="header"> 

        <!--NAVBAR-->
       <nav class="nav bd-grid">
           <div class="nav__toggle" id="nav-toggle">
               <i class="bx bxs-grid"></i>
           </div>

           <a href="#" class="nav__logo">Black Girl Supply</a>

           <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                   <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                   <li class="nav__item"><a href="/#featured" class="nav__link">Featured</a></li>
                   <li class="nav__item"><a href="makeup" class="nav__link">Makeup</a></li>
                   <li class="nav__item"><a href="skincare" class="nav__link">Skincare</a></li>
                   <li class="nav__item"><a href="haircare" class="nav__link active">Haircare</a></li>
                   <li class="nav__item"><a href="wellness" class="nav__link">Wellness</a></li>
                   <li class="nav__item"><a href="shop" class="nav__link">Shop</a></li>
               </ul>
           </div>

       
           <div class="cart__info" id="cart-info">
            <span class="cart__info-icon"><i class="bx bx-cart" ></i></span>
           <p class="cart__detail"><span class="items__count" id="item-count"></span> - R<span class="item__total" id="item-total"></span></p>        
        </div>
        
       </nav>
   </header>


   <main class="l-main">

    <!--HEADER-->
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__header-image">
                <img src="Headers/HairCare/jessica-felicio-QS9ZX5UnS14-unsplash-removebg-preview.png" alt="" class="home__img">
            </div>

            <div class="home__info">
                <h1 class="home__title">TAKE CARE OF YOUR CROWN QUEEN</h1>
                <a href="#" class="button">Explore Now</a> 
            </div>
        </div>
    </section>

     <!--SHAMPOO + CONDITIONER-->
     <section class="shampooconditioner section" id="shampoo">
        <h2 class="section-title">SHAMPOO AND CONDITIONER</h2>

        <div class="shampooconditioner__container bd-grid">
            <article class="product">
                <img src="Img/Melanin_HairCare_Shampoo-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">MELANIN HAIRCARE</span>
                <span class="product__description">African Black Soap Shampoo</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">277.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Mielle_Organics_Shampoo_and_condition_with_a_leave_in-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">MEILLE ORGANICS</span>
                <span class="product__description">Pomergranate Shampoo, Conditioner and Leave-in Bundle</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">454.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Monday_shampoo_and_conditioner_2-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">MONDAY</span>
                <span class="product__description">Shampoo and Conditioner Bundle</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">195.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Shea_Moisture_Manuka_Honey___Mafura_Oil_Intensive_Hydration_Shampoo_+_Conditioner_+_Masque__1_-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">SHEA MOISTURE</span>
                <span class="product__description">Manuka and Honey Shampoo and Conditioner</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">589.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Seen_Skincare_Shampoo_and_Conditioner-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">SEEN</span>
                <span class="product__description">Shampoo and Conditioner Bundle</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">696.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

        </div>

     </section>

      <!--STYLING PRODUCTS-->


     <section class="stylingproducts section" id="styling">
        <h2 class="section-title">STYLING PRODUCTS</h2>

        <div class="stylingproducts__container bd-grid">
            <article class="product">
                <img src="Img/ECO_Styler_Gel_Coconut_Oil___Castor_and_Flaxseed_Oil_Gel-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">ECOSTYLER GEL</span>
                <span class="product__description">Coconut Oil / Castor Oil</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">79.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Marble_Lab_Hair_Butter-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">MARBLE LAB</span>
                <span class="product__description">Whipped Shea Butter</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">250</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Mielle_Organics__Pomegranate_and_Honey_Curl_Smoothie_12oz-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">Mielle Organics</span>
                <span class="product__description">Pomegranate Curl Smoothie</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">295.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Olaplex_Hair_Treatment-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">OLAPLEX</span>
                <span class="product__description">Hair Treatment</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">1500</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Pattern_Beauty-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">PATTERN BEAUTY</span>
                <span class="product__description">Serum + Mask Treatment</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">649.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Melanin_Hair_care-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">MELANIN HAIRCARE</span>
                <span class="product__description">Styling Bundle</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color" >
                </select>
                <span class="product__price">R <strong class="item__price">751.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>
        </div>
        </section>


        <section class="Hairtools section" id="hairtools">
            <h2 class="section-title">HAIR TOOLS</h2>
    
            <div class="Hairtools__container bd-grid">
                <article class="product">
                    <img src="Img/22_Hair_Products_I_m_Not_Sure_How_You_ve_Lived_Without_For_So_Long-removebg-preview.png" alt="" class="product__img">
                    <span class="product__name">SCALP MASSAGER</span>
                    <span class="product__description">Handheld Scalp Massaging Soft Silicone Hair Cleaner and Massager</span>
                    <label for="Product__color1"></label>
                    <select class="product__color1" id="product-color" >
                    </select>
                    <span class="product__price">R <strong class="item__price">169</strong></span>
                    <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
                </article>
    
                <article class="product">
                    <img src="Img/Edge_Brush-removebg-preview.png" alt="" class="product__img">
                    <span class="product__name">EDGE BRUSH</span>
                    <span class="product__description">Edge brush for Edge Control</span>
                    <label for="Product__color1"></label>
                    <select class="product__color1" id="product-color" >
                    </select>
                    <span class="product__price">R <strong class="item__price">50</strong></span>
                    <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
                </article>
    
                <article class="product">
                    <img src="Img/Salon_Care_360_Degree_Spray_Bottle___Applicator___Spray_Bottle-removebg-preview.png" alt="" class="product__img">
                    <span class="product__name">360 Degree Spray Bottle</span>
                    <span class="product__description">Hair Mist</span>
                    <label for="Product__color1"></label>
                    <select class="product__color1" id="product-color" >
                    </select>
                    <span class="product__price">R <strong class="item__price">295.99</strong></span>
                    <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
                </article>
    
                <article class="product">
                    <img src="Img/Tangle_Teezer_Wet_Detangler_Millennial_Pink-removebg-preview.png" alt="" class="product__img">
                    <span class="product__name">TANGLE TEEZER</span>
                    <span class="product__description">Detangling Brush</span>
                    <label for="Product__color1"></label>
                    <select class="product__color1" id="product-color" >
                    </select>
                    <span class="product__price">R <strong class="item__price">279.99</strong></span>
                    <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
                </article>
    
            </div>
            </section>


    <footer class="footer section">
        <div class="footer__container bd-grid">
            <div class="footer__box">
                <h3 class="footer__title">Black Girl Supply</h3>
                <p class="footer__description">New collection of shoes 2021</p>
            </div>
    
            <div class="footer__box">
                <h3 class="footer__title">EXPLORE</h3>
            <ul>
                <li><a href="/" class="footer__link">Home</a></li>
                <li><a href="/#featured" class="footer__link">Featured</a></li>
                <li><a href="/#makeup" class="footer__link">MAKEUP</a></li>
                <li><a href="/#skincare" class="footer__link">SKINCARE</a></li>
                <li><a href="/#haircare" class="footer__link">HAIRCARE</a></li>

                </ul>
            </div>

    <div class="footer__box">
        <h3 class="footer__title">SUPPORT</h3>
        <ul>
            <li><a href="#contact" class="footer__link">Contact form</a></li>
            <li><a href="#login" class="footer__link">Login</a></li>
        </ul>
    </div>

    <div class="footer__box">
        <a href="#" class="footer__social"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="footer__social"><i class="bx bxl-instagram-alt"></i></a>
        <a href="#" class="footer__social"><i class="bx bxl-twitter" ></i></a>
        <a href="#" class="footer__social"><i class="bx bxl-google"></i></a>
    </div>

   </div>


  <p class="footer__copy">&#169; 2021 Siyabonga Mhlongo, All right reserved</p>

   </footer>

   <!--CART ITEM-->
   <div class="cart" id="cart">

    <!--HTML TEMPLETE THAT BECOMES JS TEMPLETE-->
  <!--<div class="cart__item">
        <img src="Img Cart/LYS foundation.png" class="item__img" id="item-img" alt="">
        <div class="item__text" id="item-text">
            <p class="product__name" id="cart-item-name">Cart Item</p>
            <span class="product__description" id="cart-item-description">Black Game Royal</span><br>
            <option class="product__value" id="cart-item-value" value="Feminist">Feminist</option>
            <input class="product__quantity" id="cart-item-quantity" type="number" value="1">
            <span class="product__cartprice">R </span><span class="product__cartprice" id="cart-item-price">1973.94</span>
            <span href="#" class="item__remove" id="cart-item-remove"><i class="bx bxs-trash-alt"></i></span>
      </div>      
   </div>-->  
  

   <div class="cart-total__container">
        <span >Total</span>
        <span>R <strong class="cart__total"id="cart-total">0</strong></span>
    </div>

    <div class="cart-buttons__container">
        <a href="#" id="checkout-button" class="checkout__button">Checkout</a>   
    </div>
</div>      



   </main>

   <script src="https://js.yoco.com/sdk/v1/yoco-sdk-web.js"></script>
   <script>
       var yocoPublicKey = '<%= yocoPublicKey %>'
   </script>
   <script src="script.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
 
   
</body>
</html>