<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Girl Supply</title>
    <link rel="Stylesheet" href="style.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="Stylesheet">
   
</head>
<body>
    <header class="l-header" id="header"> 

        <!--NAVBAR-->
       <nav class="nav bd-grid">
           <div class="nav__toggle" id="nav-toggle">
               <i class="bx bxs-grid"></i>
           </div>

           <a href="#" class="nav__logo">Black Girl Supply</a>

           <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                   <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                   <li class="nav__item"><a href="/#featured" class="nav__link">Featured</a></li>
                   <li class="nav__item"><a href="makeup" class="nav__link">Makeup</a></li>
                   <li class="nav__item"><a href="skincare" class="nav__link active">Skincare</a></li>
                   <li class="nav__item"><a href="haircare" class="nav__link">Haircare</a></li>
                   <li class="nav__item"><a href="wellness" class="nav__link">Wellness</a></li>
                   <li class="nav__item"><a href="shop" class="nav__link">Shop</a></li>
               </ul>
           </div>

       
           <div class="cart__info" id="cart-info">
            <span class="cart__info-icon"><i class="bx bx-cart" ></i></span>
           <p class="cart__detail"><span class="items__count" id="item-count"></span> - R<span class="item__total" id="item-total"></span></p>        
        </div>
        </nav>
       
   </header>


   <main class="l-main">
       <!--HEADER-->
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__header-image">
                <img src="headers/SkinCare/oladimeji-odunsi-br7vCg8693o-unsplash-removebg-preview.png" alt="" class="home__img">
            </div>

            <div class="home__info">
                <h1 class="home__title">ITS THE GLOW FOR ME QUEEN</h1>
                <a href="#" class="button">Explore Now</a> 
            </div>
        </div>
    </section>
       
       <!--CLEANSERS-->

       <section class="cleansers section" id="cleansers">
        <h2 class="section-title">CLEANSER</h2>

        <div class="cleanser__container bd-grid">
            <article class="product">
                <img src="Img/About_That_Time_I_Fell_in_Love_With_a_Cleansing_Balm___Don_t_Judge_Me__OK__-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">GLOW RECIPE</span>
                <span class="product__description">Papaya Enzyme Cleansing Balm</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">443.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Alya_Skin_Foaming_Micellar_Cleanser-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">ALYA SKIN</span>
                <span class="product__description">Foaming Micellar Cleanser</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">276.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Dripping_in__glow__power____-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">MA:NYO</span>
                <span class="product__description">Pure CLeansing Oil</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">361.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/GLOSSYBOX_Deep_Cleansing_cream-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">GLOSSYBOX</span>
                <span class="product__description">Deep Cleansing Cream</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">235.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/GLOSSYBOX_Gentle_Foaming_Cleanser_100ml-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">GLOSSYBOX</span>
                <span class="product__description">Gentle Foaming Cleanser</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">235</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Your_Favorite_Insta-Friendly_Skincare_Brand_Finally_Has_A_Cleanser-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">HERBIVORE</span>
                <span class="product__description">Pink Cloud Creamy Jelly Cleanser</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">332</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>
        </div>
        </section>

        <!--MOISTURISERS-->

       <section class="moisturisers section" id="moisturisers">
        <h2 class="section-title">MOISTURISER</h2>

        <div class="moisturiser__container bd-grid">
            <article class="product">
                <img src="Img/GLOSSYBOX_Moisturiser-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">GLOSSYBOX</span>
                <span class="product__description">3 in 1 Rich Moisturiser</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">346.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Eye_Cream_for_Dry_Skin___Squalane_+_Marine_Algae_Eye_Cream-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">BIOSSANCE</span>
                <span class="product__description">Squalane and Marine Algae Eyecream</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">748.46</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Stylists_-_Betim_Balaman_-_Cosmetics-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">BOSCIA</span>
                <span class="product__description">Cactus Water Moisturiser</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">528.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/FRenty_Skin_Review_2021__Best_Products_From_Rihanna_s_Skincare_Line-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">FENTY SKIN</span>
                <span class="product__description">Hydrovisor SPF</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">485.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Aly Skin Australian_Native_Berries_Moisturiser__Single-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">ALYA SKIN</span>
                <span class="product__description">Australian Native Berries Moisturiser</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">275.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Stephanie_Dinkel__Photographer___Superbe___Connecting_fashion_talents-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">HERBIVORE</span>
                <span class="product__description">Pink Cloud Rosewater Moisture Creme</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">665</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>
        </div>
        </section>

        <!--TREATMENT AND SERUM-->

       <section class="treatment section" id="treatment">
        <h2 class="section-title">TREATMENT AND SERUM</h2>

        <div class="treatment__container bd-grid">
            <article class="product">
                <img src="Img/Alya_Skin_Vitamin_C_Supercharged_Serum-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">ALYA SKIN</span>
                <span class="product__description">Vitamin C Supercharge Serum</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">414</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Bakuchiol_Retinol_Alternative_Serum-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">HERBIVORE</span>
                <span class="product__description">Bakuchiol Retinol Alternative Serum</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">748</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Glow_Recipe_Pineapple_C_Bright_Serum-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">GLOW RECIPE</span>
                <span class="product__description">Pineapple  C Bright Serum</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">679</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Glow_Recipe_Watermelon_Glow_PHA+BHA_Pore-Tight_Toner-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">GLOW RECIPE</span>
                <span class="product__description">Watermelon Glow PHA + BHA Toner</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">471</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Pestle___Mortar_Hyaluronic_Serum-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">PESTLE & MORTAR</span>
                <span class="product__description">Pure Hyaluronic Serum</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">728.99</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Summer_Fridays__New_Pumpkin_Face_Mask_Is_Bound_To_Sell_Out_Soon-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">SUMMER FRIDAYS</span>
                <span class="product__description">R + R Mask Glow</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">1199</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>

            <article class="product">
                <img src="Img/Summer_Fridays_Overtime_mask-removebg-preview.png" alt="" class="product__img">
                <span class="product__name">SUMMER FRIDAYS</span>
                <span class="product__description">Overtime Mask Exfoliate</span>
                <label for="Product__color1"></label>
                <select class="product__color1" id="product-color">
                </select>
                <span class="product__price">R <strong class="item__price">665</strong></span>
                <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
            </article>
        </div>
        </section>

        <!--SKINCARE TOOLS-->

        <section class="skincaretools section" id="skincaretools">
            <h2 class="section-title">HAIR TOOLS</h2>
    
            <div class="skincaretools__container bd-grid">
                <article class="product">
                    <img src="Img/Jade_Roller_and_stone_Combo-removebg-preview.png" alt="" class="product__img">
                    <span class="product__name">JADE ROLLER</span>
                    <span class="product__description">Roller and Flat Stone Combo</span>
                    <label for="Product__color1"></label>
                    <select class="product__color1" id="product-color">
                    </select>
                    <span class="product__price">R <strong class="item__price">269</strong></span>
                    <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
                </article>
    
                <article class="product">
                    <img src="Img/Vanity_spin_brush-removebg-preview.png" alt="" class="product__img">
                    <span class="product__name">VANITY</span>
                    <span class="product__description">Facial and Body Spin Brush</span>
                    <label for="Product__color1"></label>
                    <select class="product__color1" id="product-color">
                    </select>
                    <span class="product__price">R <strong class="item__price">450</strong></span>
                    <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
                </article>
    
                <article class="product">
                    <img src="Img/Vanity_Steamer-removebg-preview.png" alt="" class="product__img">
                    <span class="product__name">VANITY</span>
                    <span class="product__description">Facial Steamer</span>
                    <label for="Product__color1"></label>
                    <select class="product__color1" id="product-color">
                    </select>
                    <span class="product__price">R <strong class="item__price">649</strong></span>
                    <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
                </article>
    
            </div>
            </section>














    
    <footer class="footer section">
        <div class="footer__container bd-grid">
            <div class="footer__box">
                <h3 class="footer__title">Black Girl Supply</h3>
                <p class="footer__description">New collection 2021</p>
            </div>
    
            <div class="footer__box">
                <h3 class="footer__title">EXPLORE</h3>
                <ul>
                 <li><a href="/" class="footer__link">Home</a></li>
                <li><a href="/#featured" class="footer__link">Featured</a></li>
                <li><a href="/#makeup" class="footer__link">MAKEUP</a></li>
                <li><a href="/#skincare" class="footer__link">SKINCARE</a></li>
                <li><a href="/#haircare" class="footer__link">HAIRCARE</a></li>

                </ul>
            </div>

    <div class="footer__box">
        <h3 class="footer__title">SUPPORT</h3>
        <ul>
            <li><a href="#contact" class="footer__link">Contact form</a></li>
            <li><a href="#login" class="footer__link">Login</a></li>
        </ul>
    </div>

    <div class="footer__box">
        <a href="#" class="footer__social"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="footer__social"><i class="bx bxl-instagram-alt"></i></a>
        <a href="#" class="footer__social"><i class="bx bxl-twitter" ></i></a>
        <a href="#" class="footer__social"><i class="bx bxl-google"></i></a>
    </div>

   </div>


  <p class="footer__copy">&#169; 2021 Siyabonga Mhlongo, All right reserved</p>

   </footer>

   <!--CART ITEM-->
   <div class="cart" id="cart">

    <!--HTML TEMPLETE THAT BECOMES JS TEMPLETE-->
  <!--<div class="cart__item">
        <img src="Img Cart/LYS foundation.png" class="item__img" id="item-img" alt="">
        <div class="item__text" id="item-text">
            <p class="product__name" id="cart-item-name">Cart Item</p>
            <span class="product__description" id="cart-item-description">Black Game Royal</span><br>
            <option class="product__value" id="cart-item-value" value="Feminist">Feminist</option>
            <input class="product__quantity" id="cart-item-quantity" type="number" value="1">
            <span class="product__cartprice">R </span><span class="product__cartprice" id="cart-item-price">1973.94</span>
            <span href="#" class="item__remove" id="cart-item-remove"><i class="bx bxs-trash-alt"></i></span>
      </div>      
   </div>-->  
  

   <div class="cart-total__container">
        <span >Total</span>
        <span>R <strong class="cart__total"id="cart-total">0</strong></span>
    </div>

    <div class="cart-buttons__container">
        <a href="#" id="checkout-button" class="checkout__button">Checkout</a>   
    </div>
</div>      





   </main>

   <script src="https://js.yoco.com/sdk/v1/yoco-sdk-web.js"></script>
   <script>
       var yocoPublicKey = '<%= yocoPublicKey %>'
   </script>
   <script src="script.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
  
    
</body>
</html>