<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Girl Supply</title>
    <link rel="Stylesheet" href="style.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="Stylesheet">
   
</head>
<body>

    <header class="l-header" id="header"> 

        <!--NAVBAR-->
       <nav class="nav bd-grid">
           <div class="nav__toggle" id="nav-toggle">
               <i class="bx bxs-grid"></i>
           </div>

           <a href="#" class="nav__logo">Black Girl Supply</a>

           <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                   <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                   <li class="nav__item"><a href="/#featured" class="nav__link">Featured</a></li>
                   <li class="nav__item"><a href="makeup" class="nav__link">Makeup</a></li>
                   <li class="nav__item"><a href="skincare" class="nav__link">Skincare</a></li>
                   <li class="nav__item"><a href="haircare" class="nav__link">Haircare</a></li>
                   <li class="nav__item"><a href="wellness" class="nav__link active">Wellness</a></li>
                   <li class="nav__item"><a href="shop" class="nav__link active">Shop</a></li>
               </ul>
           </div>

       
           <div class="cart__info" id="cart-info">
            <span class="cart__info-icon"><i class="bx bx-cart" ></i></span>
           <p class="cart__detail"><span class="items__count" id="item-count"></span> - R<span class="item__total" id="item-total"></span></p>        
        </div>
        

       </nav>
   </header>


    <div class="wellness__container bd-grid">
        <article class="product">
            <img src="Img/Horbaach_Cranberry_000_Vitamin_Caps-removebg-preview.png" alt="" class="product__img">
            <span class="product__name">Horbaach Cranberry</span>
            <span class="product__description">Concentrate Vitamin Caps</span>
            <label for="Product__color1"></label>
            <select class="product__color1" id="product-color" >
            </select>
            <span class="product__price">R <strong class="item__price">150</strong></span>
            <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
        </article>

        <article class="product">
            <img src="Img/OLLY_Probiotic_+_Prebiotic_Gummies_-_Peachy_Peach_-_30ct-removebg-preview.png" alt="" class="product__img">
            <span class="product__name">OLLY Beauty</span>
            <span class="product__description">Prebiotic + Probiotic Gummies Peachy Peach</span>
            <label for="Product__color1"></label>
            <select class="product__color1" id="product-color" >
            </select>
            <span class="product__price">R <strong class="item__price">199</strong></span>
            <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
        </article>

        <article class="product">
            <img src="Img/OLLY_Probiotic_Immune___Digestive_Health_Gummies_-_Bramble_Berry_-_80ct-removebg-preview.png" alt="" class="product__img">
            <span class="product__name">OLLY Beauty</span>
            <span class="product__description">Pure Probiotic Immune and Digestive Health Gummies Bramble Berry</span>
            <label for="Product__color1"></label>
            <select class="product__color1" id="product-color" >
            </select>
            <span class="product__price">R <strong class="item__price">279.99</strong></span>
            <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
        </article>

        <article class="product">
            <img src="Img/Olly_Collagen_Supplement_Gummy_Rings__Reduce_Fine_Lines__Boost_Skin__30_Ct-removebg-preview.png" alt="" class="product__img">
            <span class="product__name">OLLY Beauty</span>
            <span class="product__description">Collagen GummyRings Peach Bellini</span>
            <label for="Product__color1"></label>
            <select class="product__color1" id="product-color" >
            </select>
            <span class="product__price">R <strong class="item__price">279.99</strong></span>
            <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
        </article>

        <article class="product">
            <img src="Img/9_Multivitamins_That_ll_Help_Keep_You_Feeling__and_Looking__Good-removebg-preview.png" alt="" class="product__img">
            <span class="product__name">OLLY Beauty</span>
            <span class="product__description">Womens Multi-blend of vitamins A, C, D, E, Bs Biotin and Floic Acid</span>
            <label for="Product__color1"></label>
            <select class="product__color1" id="product-color" >
            </select>
            <span class="product__price">R <strong class="item__price">180</strong></span>
            <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
        </article>

        <article class="product">
            <img src="Img/Goli_Nutrition-removebg-preview.png" alt="" class="product__img">
            <span class="product__name">GOLI Nutrition</span>
            <span class="product__description">Apple Cider Vinegar</span>
            <label for="Product__color1"></label>
            <select class="product__color1" id="product-color" >
            </select>
            <span class="product__price">R <strong class="item__price">270</strong></span>
            <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
        </article>

        <article class="product">
            <img src="Img/SugarBear gummies.png" alt="" class="product__img">
            <span class="product__name">SugerBear Gummies</span>
            <span class="product__description">Hair, Women-Multi or Sleep Vitamin</span>
            <label for="Product__color1"></label>
            <select class="product__color1" id="product-color" >
            </select>
            <span class="product__price">R <strong class="item__price">500</strong></span>
            <span href="" class="button-light">Add to Cart <i class="bx bx-right-arrow-alt"></i></span>
        </article>




    </div>
   
    

   <!--FOOTER-->
   <footer class="footer section">
    <div class="footer__container bd-grid">
        <div class="footer__box">
            <h3 class="footer__title">Black Girl Supply</h3>
            <p class="footer__description">New collection 2021</p>
        </div>

        <div class="footer__box">
            <h3 class="footer__title">EXPLORE</h3>
            <ul>
                <li><a href="/" class="footer__link">Home</a></li>
                <li><a href="/#featured" class="footer__link">Featured</a></li>
                <li><a href="/#makeup" class="footer__link">MAKEUP</a></li>
                <li><a href="/#skincare" class="footer__link">SKINCARE</a></li>
                <li><a href="/#haircare" class="footer__link">HAIRCARE</a></li>
            </ul>
        </div>

<div class="footer__box">
    <h3 class="footer__title">SUPPORT</h3>
    <ul>
        <li><a href="#contact" class="footer__link">Contact form</a></li>
        <li><a href="#login" class="footer__link">Login</a></li>
    </ul>
</div>

<div class="footer__box">
    <a href="#" class="footer__social"><i class="bx bxl-facebook"></i></a>
    <a href="#" class="footer__social"><i class="bx bxl-instagram-alt"></i></a>
    <a href="#" class="footer__social"><i class="bx bxl-twitter" ></i></a>
    <a href="#" class="footer__social"><i class="bx bxl-google"></i></a>
</div>

</div>


<p class="footer__copy">&#169; 2021 Siyabonga Mhlongo, All right reserved</p>

</footer>


<!--CART ITEM-->
<div class="cart" id="cart">

    <!--HTML TEMPLETE THAT BECOMES JS TEMPLETE-->
  <!--<div class="cart__item">
        <img src="Img Cart/LYS foundation.png" class="item__img" id="item-img" alt="">
        <div class="item__text" id="item-text">
            <p class="product__name" id="cart-item-name">Cart Item</p>
            <span class="product__description" id="cart-item-description">Black Game Royal</span><br>
            <option class="product__value" id="cart-item-value" value="Feminist">Feminist</option>
            <input class="product__quantity" id="cart-item-quantity" type="number" value="1">
            <span class="product__cartprice">R </span><span class="product__cartprice" id="cart-item-price">1973.94</span>
            <span href="#" class="item__remove" id="cart-item-remove"><i class="bx bxs-trash-alt"></i></span>
      </div>      
   </div>-->  
  

   <div class="cart-total__container">
        <span >Total</span>
        <span>R <strong class="cart__total"id="cart-total">0</strong></span>
    </div>

    <div class="cart-buttons__container">
        <a href="#" id="checkout-button" class="checkout__button">Checkout</a>   
    </div>
</div> 
     
<script src="https://js.yoco.com/sdk/v1/yoco-sdk-web.js"></script>
<script>
    var yocoPublicKey = '<%= yocoPublicKey %>'
</script>
<script src="script.js" ></script>
<script src="https://js.yoco.com/sdk/v1/yoco-sdk-web.js"></script>
  
</body>
</html>